<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/1.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>Admin</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="/" class="link active">Home</a></li>
                    <li><a href="/addproduct" class="link">Addproduct</a></li>
                    <li><a href="/product" class="link">Product</a></li>
                    <li><a href="/logout" class="link">Logout</a></li>
                </ul>
            </div>
        </nav>
    
    <br> <br> 
        <table border="2" class="table">
            <tr>
                <td>Username</td>
                <td>Email</td>
            </tr>
            
                {%for i in users%}
                <tr>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                {%if i[1] != 'admin'%}
                <td><a href="{{url_for('deleteuser',id=i[0])}}"><i style="padding: 10px 10px;color:white;" class="fa-solid fa-trash fa-2xl"></i></a>
                <a href=""><i style="color:white;"class="fa-solid fa-wallet fa-2xl"></i></a></td>
                {%endif%}
                </tr>
                {%endfor%}
            
        </table>
    </div>
</body>
</html>